name: deploy

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
    inputs:
      deployment_notes:
        description: "Deployment notes."
        required: true

jobs:
  deploy-dotnet-app:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/portfoliowebpage:latest

      - name: Deploy to server via SSH (private key)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY_TEST }}
          port: 22
          script: |
            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            docker pull ${{ secrets.DOCKER_USERNAME }}/portfoliowebpage:latest
            docker stop paymentgatewaybackend || true
            docker rm paymentgatewaybackend || true
            docker run -d --name paymentgatewaybackend -p 3000:3000 -p 3000:3000 \
              --restart=always \
              ${{ secrets.DOCKER_USERNAME }}/paymentgatewaybackend:latest
